body {
  font-family: sans-serif;
  margin-left: 50px;
  padding-bottom: 35px;
  min-width: 442px;
}

.siteTitle {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.taisyo {
  margin-top: 0px;
  text-align: center;
}

.tabs {
  text-align: center;
}

.at{
  padding-top: 2px;
}

.tabBtn {
  width: 50px;
  height: 30px;
  margin-bottom: 4px;
}

#tyusyaku {
  text-align: center;
  padding-left: clamp(10px,);
}

.tyusyaku {
  text-align: center;
  padding-left: clamp(10px,);
}

th, td {
  border: 1px solid #333;
  padding: 6px;
  text-align: center;
}

.songName {
  max-width: 180px;
  
}

.newDay {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

th:nth-child(4),
td:nth-child(4) {
 text-align: right; 
}

#songName {
  width: 180px;
  left: 0;
  background-color: #f0f0f0;
  cursor: pointer;
}

table th:first-child {
  position: sticky;
  left: 0;
  background: #f0f0f0;
  z-index: 3;
}

table th:first-child::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #ccc;
}

table td:first-child {
  position: sticky;
  left: 0;
  background: #fff;
  z-index: 2;
}

table td:first-child::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #ccc;
}

/* サムネ */
th:nth-child(3),
td:nth-child(3) {
  min-width: 63px;
  padding: 0;
  height: calc(63px * 9 / 16);
}

.thumbnail {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;  
}

thead {
  background-color: #f0f0f0;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.artist-cell {
  padding-left: 10px;
  max-width: 120px;  
  min-width: 110px;      
  white-space: nowrap;    
  overflow: hidden;        
  text-overflow: ellipsis;
}

.song-cell {
  width: 140px;
  min-width: 140px;
   /* 改行させる */
  overflow: hidden;      /* はみ出し隠す */
  line-height: 20px;     /* 1行の高さ */
  max-height: 30px;          /* 1行 + 半分 */
  padding: 0 6px;
}

.history-col {
  overflow-x: auto;
  min-width: 55px;   
  text-align: center;
}

th:nth-child(1),
td:nth-child(1) {
  padding: 3px;
}

#newDay {
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
}
